<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebCalendarEntities" connectionString="metadata=res://*/WebCalendarDataModel.csdl|res://*/WebCalendarDataModel.ssdl|res://*/WebCalendarDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TANER-PC\SQLEXPRESS;initial catalog=WebCalendar;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>