@model IEnumerable<WebCalendar.Models.ContactViewModel>

@{
    ViewBag.Title = "Index";
    ViewBag.CurrentPage = "Contact";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "link" })
</p>
@{
    var grid = new WebGrid(source: Model,
        defaultSort: "FirstName",
        rowsPerPage: 15,
        canSort: true,
        canPage: true);
}

<div id="grid">
  @grid.GetHtml(
      tableStyle: "grid",
      headerStyle: "head",
      alternatingRowStyle: "alt",
      columns: grid.Columns(
          grid.Column("FirstName"),
          grid.Column("LastName"),
          grid.Column("Email"),
          grid.Column("Phone"),
          grid.Column(header: "Action", format: (item) =>
              new HtmlString(
                     Html.ActionLink("Edit", "Edit", null, new { id = item.ContactID }, new { @class = "link" }).ToString() +
                     Html.ActionLink("Details", "Details", null, new { id = item.ContactID }, new { @class = "link" }).ToString() +
                     Html.ActionLink("Delete", "Delete", null, new { id = item.ContactID }, new { @class = "link" }).ToString()
              )
     )
  )
 )
 </div>