@model IEnumerable<WebCalendar.Models.CategoryViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    var grid = new WebGrid(source: Model,
        defaultSort: "Name",
        rowsPerPage: 15,
        canSort: true,
        canPage: true);
}

<div id="grid">
  @grid.GetHtml(
      tableStyle: "grid",
      headerStyle: "head",
      alternatingRowStyle: "alt",
      columns: grid.Columns(
          grid.Column("Name"),
          grid.Column(header: "Action", format: (item) =>
              new HtmlString(
                     Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }).ToString() +
                     Html.ActionLink("Details", "Details", new { id = item.CategoryID }).ToString() +
                     Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }).ToString()
              )
     )
  )
 )
 </div>
