@model WebCalendar.Models.LogOnModel

@using (Html.BeginForm((string)ViewBag.FormAction, "Account")) {

        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", @class = "input-text"})
        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "input-text" })

        <input type="submit" value="Log On" title="Log On" />
        <div>
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
}