@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StartPage.cshtml";
}

			<section id="outer">
				<section id="navbar">
					<div id="ads">
						<h3>First Free Online Web Calendar</h3>
						<p>Share with your friends. Web Calendar helps you manage your contacts and meetings easily.</p>
						<img src="../images/meeting_logo.png"/>
					</div>
					<div id="signup">
						@Html.Action("Register", "Account")
					</div>
				</section>
			</section>
